/classification_data_final
/classification_data_final_fixed
/classification_models
/data
/models*
/processed_data*
/test_results*
/inference_results*
/*results
/*analysis*
/speed_test*
/visualization_results
/__MACOSX
/__pycache__
._*